.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.heading {
  margin: 3%;
}

.form-label {
  text-align: left;
  margin: auto;
}

.form-input {
  height: 2em;
  margin: 10px;
  border-radius: 5px;
}

.submit-button {
  border-radius: 10px;
  min-width: 100px;
  max-width: 130px;
  min-height: 30px;
}
